exportPattern("^[[:alpha:]]+")
useDynLib(EntropyEstimation)
export("Entropy.sd", "Entropy.z", "GenSimp.sd", "GenSimp.z", "Hill.sd",
       "Hill.z", "KL.Plugin", "KL.sd", "KL.z", "MI.sd", "MI.z",
       "Renyi.sd", "Renyi.z", "RenyiEq.sd", "RenyiEq.z",
       "SymKL.Plugin", "SymKL.sd", "SymKL.z", "Tsallis.sd",
       "Tsallis.z")
